[user]
	email = vicapa99@gmail.com
	name = Pablo Vicente
[alias]
	st = status
	aa = add .
	co = checkout
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
	ui = true
[format]
	pretty = format:%C(blue black bold)%h%Creset %C(green bold)%s%Creset%C(yellow)%d%Creset [%C(cyan)%an%Creset] - %C(blue)%ar
[core]
	excludesfile = /Users/pvcarrera/.gitignore_global
	autocrlf = input
	editor = /usr/bin/vim
[help]
	autocorrect = 1
[branch]
	autosetuprebase = always
[push]
	default = upstream
[merge]
	ff = only
[rebase]
	autosquash = true
